{{e-navbar}}

{{! actors }}
<div class="network">

  <div class="network-canvas">

  </div>

  <div class="network-actors">



    <select class="custom-select">
      <option>Order by...</option>
      <option></option>
      <option value="3"><img alt="" src="[netherlands flag]"> Netherlands</option>
    </select>

  </div>

</div>